body{
    background-color: aqua;
}

.form-label-group input { /* suporte para o login dinamico */
    height: 2rem;
    border-radius: 5px;
    padding-right: 4rem;
    initial-letter-align: left;
  }

.alert-success {
    color: #47ad07;
    font-size: 110%;
    font-weight: bolder;
}

.alert-danger {
    color: #c61007;
    font-size: 110%;
    font-weight: bolder;
}

.alert-warning{
    color: #d4d705;
    font-size: 110%;
    font-weight: bolder;
}